# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests

#other user-workspace related
/httpRequests/
/codeStyles/
$CACHE_FILE$
common-blob-go.iml
misc.xml
modules.xml
vcs.xml
watcherTasks.xml